.footer {
  text-align: center;
  background: #360033;
  background: -webkit-linear-gradient(to left, #0b8793, #360033);
  background: linear-gradient(to left, #0b8793, #360033);
  height: auto;
  margin-top: 20px;
  padding: 48px;
  width: 100%;
}

.footer h2 {
  color: #fff;
  font-size: 50px;
  font-weight: bold;
}

.footer span {
  color: #fff;
  font-size: 30px;
}

.content {
  font-size: 60px;
}

.content a {
  color: #fff;
  transition: all 0.5s;
}

.content a:hover {
  color: #0b8793;
  transition: all 0.5s;
}
