/* ///GENERAL/// */

@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  --color-bg: #fff;
  --color-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --color-text: #0b8793;
  --color-text-secondary: #ad5389;
  --color-btn: #212e37;
  font-family: 'Kiwi Maru', serif;
}

body.dark-mode {
  --color-bg: #212e37;
  --color-shadow: 2px 2px 5px rgba(11, 135, 147, 0.5);
  --color-text: #ad5389;
  --color-text-secondary: #0b8793;
  --color-btn: #fff;
}

section {
  background-color: var(--color-bg);
  transition: all 1s;
}
